<div class="table-container">
  <table class="stock-table">
    <thead>
      <tr>
        <th>Stock Symbol</th>
        <th>Quantity</th>
        <th>Money Invested</th>
        <th>Current Price</th>
        <th>Current Value</th>
        <th>Total Dividend Value</th>
        <th>Current Value With Dividends</th>
        <th></th>
        <!-- Empty header for remove button -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks" class="stock-row" (click)="onStockClick(stock)">
        <td>{{ stock.symbol }}</td>
        <td>
          {{
            stock.ownershipPeriods?.length
              ? stock.ownershipPeriods[stock.ownershipPeriods.length - 1]?.quantity || 0
              : 0
          }}
        </td>
        <td>{{ stock.moneyInvested | currency: 'USD' }}</td>
        <td>{{ stock.currentPrice | currency: 'USD' }}</td>
        <td>
          {{
            (stock?.currentPrice || 0) *
              (stock?.ownershipPeriods?.length
                ? stock.ownershipPeriods[stock.ownershipPeriods.length - 1]?.quantity || 0
                : 0) | currency: 'USD'
          }}
        </td>
        <td>{{ stock.totalDividendValue | currency: 'USD' }}</td>
        <td>
          {{
            (stock?.currentPrice || 0) *
              (stock?.ownershipPeriods?.length
                ? stock.ownershipPeriods[stock.ownershipPeriods.length - 1]?.quantity || 0
                : 0) +
              (stock?.totalDividendValue || 0) | currency: 'USD'
          }}
        </td>
        <td>
          <button class="remove-btn" (click)="removeStock(stock); $event.stopPropagation()">
            x
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
