<div class="table-container">
  <table class="stock-table">
    <thead>
      <tr>
        <th>Stock Symbol</th>
        <th>Quantity</th>
        <th>Money Invested</th>
        <th>Current Price</th>
        <th>Current Value</th>
        <th>Total Dividend Value</th>
        <th>Current Value With Dividends</th>
        <th></th> <!-- Empty header for remove button -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks" class="stock-row">
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.ownershipPeriods[stock.ownershipPeriods.length - 1].quantity }}</td>
        <td>{{ stock.moneyInvested | currency: 'USD' }}</td>
        <td>{{ stock.currentPrice | currency: 'USD' }}</td>
        <td>
          {{
            stock.currentPrice * stock.ownershipPeriods[stock.ownershipPeriods.length - 1].quantity
              | currency: 'USD'
          }}
        </td>
        <td>{{ stock.totalDividendValue | currency: 'USD' }}</td>
        <td>
          {{
            stock.currentPrice *
              stock.ownershipPeriods[stock.ownershipPeriods.length - 1].quantity +
              stock.totalDividendValue | currency: 'USD'
          }}
        </td>
        <td><button class="remove-btn" (click)="removeStock(stock)">x</button></td>
      </tr>
    </tbody>
  </table>
</div>
