<div *ngIf="isAuthenticated$ | async; else notAuthenticated" class="stock-summary-container">
  <h2 class="stock-summary-title">Stock Panel</h2>
  <div *ngIf="stocks$ | async as stocks; else loading" class="stock-list-container">
    <div *ngIf="stocks.length === 0" class="no-stocks-message">
      <span>No stocks available.</span>
    </div>
    <ul *ngIf="stocks.length > 0" class="stock-list">
      <li *ngFor="let stock of stocks" class="stock-item">
        <span class="stock-symbol" (click)="onStockClick(stock)">{{ stock.symbol }}</span
        >:
        <span class="money-invested" (click)="onStockClick(stock)">
          {{ stock.latestQuantity }}
        </span>
        <span class="remove-stock" (click)="removeStock(stock)">✕</span>
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <div class="spinner"></div>
      <span>Loading...</span>
    </div>
  </ng-template>
</div>
<ng-template #notAuthenticated>
  <div class="not-authenticated-message">
    <span>Please log in to view your stocks.</span>
  </div>
</ng-template>
