<div class="stock-summary-container">
  <h2 class="stock-summary-title">Stock Summary</h2>
  <div *ngIf="stocks$ | async as stocks; else loading" class="stock-list-container">
    <ul class="stock-list">
      <li *ngFor="let stock of stocks" class="stock-item">
        <span class="stock-symbol" (click)="onStockClick(stock)">{{ stock.symbol }}</span>:
        <span class="money-invested" (click)="onStockClick(stock)">{{
          getLatestOwnershipPeriodQuantity(stock.ownershipPeriods)
          }}</span>
        <span class="remove-stock" (click)="removeStock(stock)">✕</span>
      </li>
    </ul>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <div class="spinner"></div>
      <span>Loading...</span>
    </div>
  </ng-template>
</div>
