.navbar {
  background-color: #26a69a;
  
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navbar .navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-item {
  margin-left: 20px;
}

.navbar .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar .nav-link:hover {
  text-decoration: underline;
}
