<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">My Stock App</a>
    <div class="navbar-content">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tax">Tax Overview</a>
        </li>
      </ul>
      <div class="auth-section">
        <ng-container *ngIf="authState$ | async as authState; else noAuth">
          <div class="debug-auth">isAuthenticated: {{ authState.isAuthenticated }} | userName: {{ authState.userName }}</div>
          <div *ngIf="authState.isAuthenticated" class="auth-container">
    <span class="hello-message" *ngIf="authState.userName">
      Hello, {{ authState.userName }}
    </span>
            <button class="auth-button" (click)="logout()">Logout</button>
          </div>
        </ng-container>

        <ng-template #noAuth>
          <button class="auth-button" (click)="login()">Login</button>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
