.company-info-table-wrapper {
  overflow-x: auto;
}

.company-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.company-info-table th, .company-info-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.company-info-table th {
  background-color: #007bff;
  color: white;
}

.company-info-table tr:hover {
  background-color: #f1f1f1;
}

.company-info-table td {
  white-space: nowrap;
}
