<div class="table-container">
  <table class="stock-table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Industry</th>
        <th>Market Cap</th>
        <th>Price</th>
        <th>Last Dividend</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.companyName }}</td>
        <td>{{ stock.industry }}</td>
        <td>{{ stock.marketCap }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.lastAnnualDividend }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="loading || errorMessage" class="loading-spinner">
    {{ errorMessage ? errorMessage : 'Loading...' }}
  </div>
</div>
