.stock-summary-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.top-section {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.middle-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart-section{
  width: 48%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.details-section {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.dividend-section {
  padding: 20px;
  background-color: #f7f9fc;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.tax-summary {
  margin-top: 20px;
  font-weight: bold;
}

.tax-summary p {
  margin: 5px 0;
}
