<div class="stock-summary-container">
  <div class="top-section">
    <app-summary-section [stock]="stock"></app-summary-section>
  </div>

  <div class="middle-section">
    <div class="chart-section">
      <h2>Stock Performance Chart</h2>
      <app-stock-chart [stockSymbol]="stock!.symbol"></app-stock-chart>
    </div>

    <div class="dividend-section">
  <app-dividend-summary [stock]="stock" [totalDividendIncome]="totalDividendIncome" [totalTaxToBePaid]="totalTaxToBePaid" [totalWithholdingTaxPaid]="totalWithholdingTaxPaid" [taxToBePaidInPoland]="taxToBePaidInPoland"></app-dividend-summary>
    </div>
  </div>

  <div class="details-section">
<app-additional-details [stock]="stock"></app-additional-details>
  </div>

  <div class="company-info">
<app-company-info [companyInfo]="companyInfo"></app-company-info>
  </div>

  <div class="dividends-vs-fcf-chart">
    <h2>Dividends vs Free Cash Flow</h2>
    <canvas id="dividendsVsFcfChart"></canvas>
  </div>

  <app-valuation></app-valuation>

</div>
