.stock-summary-container {
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f5f7;
  color: #333333;
}

.top-section,
.middle-section,
.details-section,
.company-info,
.dividends-vs-fcf-chart,
.liabilities-chart,
.stock-performance-chart,
.valuation-section {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.middle-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.chart-section,
.dividend-section {
  flex: 1;
  min-width: 300px;
}

h2 {
  color: #26a69a;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}