<h2>Additional Details</h2>
<div class="transactions">
  <button (click)="toggleTransactions()">
    {{ showTransactions ? 'Hide Transactions' : 'Show Transactions' }}
  </button>
  <div *ngIf="showTransactions" class="transaction-list">
    <ul>
      <li *ngFor="let transaction of stock?.transactions">
        {{ transaction.date | date:'shortDate' }} - {{ transaction.type }} {{ transaction.amount }} shares at
        {{ transaction.price | currency:'USD' }} (Commission: {{ transaction.commission | currency:'USD' }})
      </li>
    </ul>
  </div>
</div>
